@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Mono', monospace;
  background-color: #030304;
  color: #f4f4f5;
  -webkit-font-smoothing: antialiased;
}

html, body {
  overflow-x: hidden;
}